  {{#each this}}
  <div class="photo-card">
     <a href="{{largeImageURL}}">
   <img class="gallery-img" src="{{webformaURL}}" alt="{{tags}}" loading="lazy"/>
    </a>
   <div class="info">
    <p class="info-item">
        <b>Likes: {{likes}}</b>
    </p>
    <p class="info-item">
        <b>Views: {{views}}</b>
    </p>
    <p class="info-item">
        <b>Comments: {{comments}}</b>
    </p>
    <p class="info-item">
        <b>Download: {{download}}</b>
    </p>
   </div>
   
</div>
 
{{/each}} 

